{% extends "base.html" %}
{% block content %}
    <h1>Lisää ottelutulos sarjaan {{league.name}}</h1>


    <form method="post" action="{{base_path}}/ottelut/lisaa">
        <div class="form-group">
            <label>Kotijoukkue</label>
            <select style="display: inline" class="form-control" name="home_team">
                {% for team in teams %}
                  <option value="{{team.id}}">{{team.name}}</option>
                {% endfor %}
            </select>
        </div>
        {% for i in 0..50 %}
        <div class="form-group">
            <label>Kotijoukkueen maalit</label>
            <select style="display: inline" class="form-control" name="home_goals">
                  <option value="{{i}}">{{i}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Vierasjoukkueen maalit</label>
            <select style="display: inline" class="form-control" name="away_goals">
                  <option value="{{i}}">{{i}}</option>
            </select>
        </div>
        {% endfor %}
        <div class="form-group">
            <label>Vierasjoukkue</label>
            <select style="display: inline" class="form-control" name="away_team">
                {% for team in teams %}
                  <option value="{{team.id}}">{{team.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Lisää</button>
        </div>
    </form>
{% endblock %}
