{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa</h1>
  
  {% if errors %}
        <div class="alert alert-danger">
            {% for error in errors %}
              <label>{{error}}</label>
            {% endfor %}
        </div>
    {% endif %}
    
    {% if message %}
        <label>{{message}}</label>
    {%endif %}

  <form method="post" action="{{base_path}}/sarjat/{{league.id}}/muokkaa">
    <div class="form-group">
      <label>Nimi</label>
      <input type="text" class="form-control" name="name" value="{{league.name}}">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>
{% endblock %}
