{% extends "base.html" %}
{% block content %}

<h1>{{league.name}}</h1>
  <!-- Painikkeet tähän -->
  <br>
  <a href="{{base_path}}/sarjat/{{league.id}}/ottelut" class="btn btn-info">Otteluhistoria</a>
  <br>
  {% if user_logged_in %}
    {% if user_logged_in.mode > 0 %}
  <p>
  <form style="display: inline" method="post" action="{{base_path}}/sarjat/{{league.id}}/poista">
        <button type="submit" class="btn btn-danger">Poista</button>
    </form>
      <a href="{{base_path}}/sarjat/{{league.id}}/muokkaa" class="btn btn-default">Muokkaa</a>
      <a href="{{base_path}}/sarjat/{{league.id}}/ottelut/lisaa" class="btn btn-success">Lisää ottelutulos</a>
  </p>
    {% endif %}
  {% endif %}
  
  <h2>Sarjataulukko</h2>

      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Sijoitus</th>
            <th>Nimi</th>
            <th>P</th>
            <th>V</th>
            <th>T</th>
            <th>H</th>
            <th>TM</th>
            <th>PM</th>
            <th>+/-</th>
            <th><strong>Pisteet</strong></th>
          </tr>
        </thead>

        <tbody>
          <!-- Listataan joukkueet tähän -->
          {% set rank = 1 %}
          {% for team in teams %}
          <tr>
              <td><strong>{{rank}}</strong></td>
            <td><a href="{{base_path}}/joukkueet/{{team.team.id}}">{{team.team.name}}</a></td>
            <td>{{team.played}}</td>
            <td>{{team.wins}}</td>
            <td>{{team.draws}}</td>
            <td>{{team.losses}}</td>
            <td>{{team.scored}}</td>
            <td>{{team.conceded}}</td>
            <td>{{team.difference}}</td>
            <td><strong>{{team.points}}</strong></td>
          </tr>
          {% set rank = rank + 1 %}
          {% endfor %}
        </tbody>
      </table>
  
{% endblock %}
