{% extends "base.html" %}
{% block content %}
  <h1>{{league.name}}</h1>
  <!-- Painikkeet tähän -->
  {% if user_logged_in %}
    {% if user_logged_in.mode > 0 %}
  <p>
  <form method="post" action="{{base_path}}/sarjat/{{league.id}}/poista">
      <button type="submit" class="btn btn-danger">Poista</button>
  </form>
    <a href="{{base_path}}/sarjat/{{league.id}}/muokkaa" class="btn btn-default">Muokkaa</a>
    <button class="btn btn-success">Lisää ottelutulos</button>
    <button class="btn btn-info">Otteluhistoria</button>
  </p>
    {% endif %}
  {% endif %}  
  
  
  
{% endblock %}
