{% extends "base.html" %}
{% block content %}
  <h1>Rekisteröidy</h1>
  
  {% if errors %}
    <div class="alert alert-danger">
          
        {% for error in errors %}
            <label>{{error}}</label>
        {% endfor %}
          
    </div>
  {% endif %}

  <!-- Kaikki lomakkeen elementit form-tagin sisään -->
  <form method="post" action="{{base_path}}/rekisteroidy">
    <!-- Tekstikenttä käyttäjätunnukselle -->
    <div class="form-group">
      <label>Käyttäjätunnus</label>
      <input type="text" class="form-control" name="name" value="{{attributes.name}}">
    </div>

    <!-- Salasanakenttä salasanalle -->
    <div class="form-group">
      <label>Salasana</label>
      <input type="password" class="form-control" name="password">
    </div>

    <button type="submit" class="btn btn-primary">Rekisteröidy</button>
  </form>
{% endblock %}
