{% extends "base.html" %}
{% block content %}

  
  <h1>{{user_logged_in.name}}</h1>

  <!-- Painikkeet tähän -->
  
    <form method="post" action="{{base_path}}/kirjaudu/ulos">
        <button type="submit" class="btn btn-danger">Kirjaudu ulos</button>
    </form>
  
  
    {% if user_logged_in.mode == 0 %}
        <p>Et ole saanut muokkausoikeuksia.</p>
    {% elseif user_logged_in.mode == 1 %}
        <p>Olet saanut muokkausoikeuden. Nyt käytä sitä!</p>
    {% elseif user_logged_in.mode == 2 %}
        <h2>Käyttäjät</h2>
        <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Nimi</th>
                <th>Oikeudet</th>
              </tr>
            </thead>

            <tbody>
              {% for person in persons %}
              <tr>
                <td>{{person.name}}</td>
                <td>
                    {% if person.mode == 0 %}
                        <form method="post" action="{{base_path}}/oikeudet/{{person.id}}/anna">
                            <input type="submit" value="Anna" />
                        </form>
                    {% elseif person.mode == 1 %}
                        <form method="post" action="{{base_path}}/oikeudet/{{person.id}}/poista">
                            <input type="submit" value="Poista"/>
                        </form>
                    {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
    {% endif %}
    
{% endblock %}    
