{% extends "base.html" %}
{% block content %}
    <h1>Kirjaudu sisään</h1>
  
    {% if error %}
    <label>
        {{error}}
    </label>
    {% endif %}

    <!-- Kaikki lomakkeen elementit form-tagin sisään -->
    <form method="post" action="{{base_path}}/suunnitelmat/kirjaudu">
      <!-- Tekstikenttä käyttäjätunnukselle -->
      <div class="form-group">
        <label>Käyttäjätunnus</label>
        <input type="text" class="form-control" name="name" value="{{name}}">
      </div>

      <!-- Salasanakenttä salasanalle -->
      <div class="form-group">
        <label>Salasana</label>
        <input type="password" class="form-control" name="password">
      </div>

      <button type="submit" class="btn btn-primary">Kirjaudu sisään</button>
    </form>
{% endblock %}
