 {% extends "base.html" %}
{% block content %}
  <h1>Joukkueet</h1>

  <p>
    <a href="#" class="btn btn-success">Lisää joukkue</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Kotikenttä</th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan pelit tähän -->
      <tr>
        <td><a href="#">NPS</a></td>
        <td></td>
      </tr>
      
      <tr>
        <td><a href="{{base_path}}/suunnitelmat/joukkue">Hämeen Palloilijat</a></td>
        <td>Hämeen Stadion</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
