 {% extends "base.html" %}
{% block content %}
  <h1>Joukkueet</h1>
  
  {% if message %}
    <label>{{message}}</label>
  {%endif %}

  <p>
    <a href="{{base_path}}/suunnitelmat/joukkueet/lisaa" class="btn btn-success">Lisää joukkue</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Kotikenttä</th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan pelit tähän -->
      {% for team in teams %}
      <tr>
        <td><a href="{{base_path}}/suunnitelmat/joukkueet/{{team.id}}">{{team.name}}</a></td>
        <td>{{team.ground}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
