{% extends "base.html" %}
{% block content %}

  
  <h1>{{team.name}}</h1>

  <!-- Painikkeet tähän -->
  
    <form method="post" action="{{base_path}}/suunnitelmat/joukkueet/{{team.id}}/poista">
        <button type="submit" class="btn btn-danger">Poista</button>
    </form>
    
    <a href="{{base_path}}/suunnitelmat/joukkueet/{{team.id}}/muokkaa" class="btn btn-default">Muokkaa</a>
  
  
  <ul>
    <li><strong>Kotikenttä: </strong>{{team.ground}}</li>
  </ul>
  
  <aside>
      <h2>Lisää sarjaan</h2>
      <input list="leagues">

      <datalist id="leagues">
          {% for league in leagues %}
        <option value="{{league.name}}">
          {% endfor %}
        </datalist>
  </aside>
  
{% endblock %}
