{% extends "base.html" %}
{% block content %}
    <h1>Muokkaa</h1>

    <form method="post" action="{{base_path}}/joukkueet/{{attributes.id}}/muokkaa">
      <div class="form-group">
        <label>Nimi</label>
        <input type="text" name="name" class="form-control" value="{{attributes.name}}">
      </div>
      <div class="form-group">
        <label>Kotikenttä</label>
        <input type="text" name="ground" class="form-control" value="{{attributes.ground}}">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
      </div>
    </form>
{% endblock %}
