{% extends "base.html" %}
{% block content %}

  
  <h1>{{team.name}}</h1>
  
  <br>
  <ul>
        <li><strong>Kotikenttä: </strong>{{team.ground}}</li>
  </ul>
  <br>
  
  <a href="{{base_path}}/joukkueet/{{team.id}}/ottelut" class="btn btn-info">Otteluhistoria</a>
  
  {% if user_logged_in %}
    {% if user_logged_in.mode > 0 %}
    
    <!-- Painikkeet tähän -->
    
    <span style="display: inline;">
            <form method="post" action="{{base_path}}/joukkueet/{{team.id}}/poista">
                <button type="submit" class="btn btn-danger">Poista</button>
            </form> <a href="{{base_path}}/joukkueet/{{team.id}}/muokkaa" class="btn btn-default">Muokkaa</a>
    </span>
    <br>
    <br>
        <form method="post" action="{{base_path}}/joukkueet/{{team.id}}/lisaa/sarjaan">
            
            <div class="form-group">
              <label>LISÄÄ SARJAAN</label>
              <select class="form-control" name="league">
                {% for league in leagues_for_team %}
                  <option value="{{league.id}}">{{league.name}}</option>
                {% endfor %}
              </select>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Lisää</button>
            </div>
        </form>
    {% endif %}    
  {% endif %}
  <br>
  <h2>Sarjat</h2>
  
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan sarjat tähän -->
      {% for league in teams_leagues %}
      <tr>
        <td><a href="{{base_path}}/sarjat/{{league.id}}">{{league.name}}</a></td>
        <td></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  
{% endblock %}
