{% extends "base.html" %}
{% block content %}

  
  <h1>{{name}}</h1>
  
  
  <h2>Ottelut</h2>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Sarja</th>
            <th>Ottelu</th>
            <th>Tulos</th>
          </tr>
        </thead>

        <tbody>
          <!-- Listataan pelit tähän -->
          {% for game in games %}
          <tr>
            <td><a href="{{base_path}}/sarjat/{{game.league}}">{{game.league_name}}</a></td>
            <td>{{game.home_name}} - {{game.away_name}}</td>
            {% if game.win %}
                <td style="background-color:green">{{game.home_goals}} - {{game.away_goals}}</td>
            {% elseif game.loss %}
                <td style="background-color:red">{{game.home_goals}} - {{game.away_goals}}</td>
            {% else %}
                <td>{{game.home_goals}} - {{game.away_goals}}</td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>

  
{% endblock %}
